<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yc.cayicons.overlay"
    android:versionCode="221103"
    android:versionName="221103">

    <overlay
        android:category="com.google.android.apps.nexuslauncher.themed_icons"
        android:isStatic="true"
        android:priority="1"
        android:targetPackage="com.google.android.apps.nexuslauncher" />

    <application
        android:extractNativeLibs="true"
        tools:targetApi="31"
        android:hasCode="false"
        android:label="CayiconsOverlay" />

</manifest>